[Unit]
Description=Video Gateway Warning System
After=network.target

[Service]
Type=simple
User=zyc
WorkingDirectory=/mnt/data/zyc/xwq/demo/server
Environment=LD_LIBRARY_PATH=./lib/x86/tiandy:./lib/x86/tiandy/lib
ExecStart=/usr/bin/java -Djava.io.tmpdir=./tmp \
    -Djava.library.path=./lib/x86/tiandy:./lib/x86/tiandy/lib \
    -Dtiandy.lib.path=./lib/x86/tiandy \
    -jar video-gateway-service-1.0.0.jar
Restart=on-failure
RestartSec=10
StandardOutput=append:/mnt/data/zyc/xwq/demo/server/server.log
StandardError=append:/mnt/data/zyc/xwq/demo/server/server.log

[Install]
WantedBy=multi-user.target
