<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="./logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/app.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SDK_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/sdk.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FLOW_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/flow.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="RADAR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/radar.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- SDK + 报警：sdk.log -->
    <logger name="com.digital.video.gateway.hikvision" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.tiandy" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.dahua" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.driver" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.AlarmService" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.EventResolver" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.device.DeviceManager" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.device.SDKFactory" level="INFO" additivity="false">
        <appender-ref ref="SDK_FILE"/>
    </logger>

    <!-- 工作流：flow.log -->
    <logger name="com.digital.video.gateway.workflow" level="INFO" additivity="false">
        <appender-ref ref="FLOW_FILE"/>
    </logger>

    <!-- 雷达：radar.log -->
    <logger name="com.digital.video.gateway.service.RadarService" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.RadarTestService" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.RadarStatusMonitor" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.IntrusionDetectionService" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.DefenseZoneService" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.BackgroundModelService" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.service.BackgroundPointFileStorage" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.api.RadarController" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.api.RadarWebSocketHandler" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.api.RadarWebSocketHandlerFallback" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarDeviceDAO" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarDeviceTable" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarIntrusionRecordDAO" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarDefenseZoneTable" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarDefenseZoneDAO" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarBackgroundDAO" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.database.RadarBackgroundTable" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
    <logger name="com.digital.video.gateway.workflow.handlers.RadarZoneToggleHandler" level="INFO" additivity="false">
        <appender-ref ref="RADAR_FILE"/>
    </logger>
</configuration>
